@import "../../colors";

.filesUploadsListItem {
  display: flex;
  align-items: center;
  position: relative;
  width: 96%;
  margin-bottom: 0.92vh;
  padding: 0 2%;
}

.filesUploadsListItem:after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 2%;
  width: 79%;
  height: 0.3vh;
  opacity: 0;
  background-color: $border_color;
  transition: opacity 200ms ease-out;
}

.filesUploadsListItem:hover:after {
  opacity: 1;
}

.filesUploadsListItemText {
  composes: filesUploadsListItemText from "./style-media.module.scss";
  width: 40%;
  margin: 0;
  font-family: "TTNormsPro", "sans-serif";
  word-break: break-all;
}

.filesUploadsListItemImg {
  width: 2%;
  height: auto;
  cursor: pointer;
}