@media (max-width: 425px) {
  .loginSign {
    font-size: 26px;
  }

  .loginTextInputsWrapper {
    & > a {
      font-size: 8px;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .loginSign {
    font-size: 28px;
  }

  .loginTextInputsWrapper {
    & > a {
      font-size: 10px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .loginSign {
    font-size: 30px;
  }

  .loginTextInputsWrapper {
    & > a {
      font-size: 12px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .loginSign {
    font-size: 32px;
  }

  .loginTextInputsWrapper {
    & > a {
      font-size: 14px;
    }
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .loginSign {
    font-size: 36px;
  }

  .loginTextInputsWrapper {
    & > a {
      font-size: 18px;
    }
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .loginSign {
    font-size: 38px;
  }

  .loginTextInputsWrapper {
    & > a {
      font-size: 20px;
    }
  }
}