@import "../../colors";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $second_color;
}

.loginLogo {
  width: 15%;
  height: auto;
  margin-top: 5.5%;
}

.loginSignWrapper {
  display: flex;
  margin-top: 1.5%;
}

.loginSign {
  composes: loginSign from "./style-media.module.scss";
  margin: 0 0.15em;
  color: $first_color;
  font-family: "TTNormsPro", "sans-serif";
  font-weight: bold;
}

.loginSign:first-child, .loginSign:last-child {
  color: $green_color;
}

.loginTextInputsWrapper {
  composes: loginTextInputsWrapper from "./style-media.module.scss";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.8%;

  & > * {
    margin-top: 7%;
  }

  & > a {
    text-decoration: none;
    color: $first_color;
    text-align: center;
    font-family: "TTNormsPro", "sans-serif";
    font-weight: bold;
    transition: color 200ms ease-out;
  }

  & > a:hover {
    color: $select_color;
  }
}