.about {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.aboutHeading {
  composes: aboutHeading from "./style-media.module.scss";
  margin: 2.7vh 0 2.7vh 2%;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-weight: normal;
}

.aboutText {
  composes: aboutText from "./style-media.module.scss";
  margin: 0 0 0.64% 2%;
  font-family: "TTNormsPro", "sans-serif";
}