@import "../../colors";
@import "../../mixins/scroll";

.filesUploadsList {
  display: flex;
  flex-direction: column;
}

.uploads {
  @include scroll(0.5vw);
  display: flex;
  flex-direction: column;
  max-height: 72vh;
  overflow-y: auto;
}

.uploadsHeading {
  display: flex;
  align-items: center;
  position: relative;
  width: 96%;
  margin-bottom: 0.92vh;
  padding: 0 2%;
}

.uploadsHeadingText {
  width: 40%;
  margin: 0;
  font-family: "TTNormsPro", "sans-serif";
  font-size: 20px;
}