@import "../../mixins/scroll";

.files {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.filesPathPartsWrapper {
  @include scroll(0.5vw);
  display: flex;
  align-items: center;
  margin-top: 2.7vh;
  padding: 0 2% 0.5% 2%;
  overflow-x: auto;
  cursor: pointer;
}