@import "../../mixins/scroll";

.files {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

.filesHeading {
  display: flex;
  align-items: flex-end;
  margin: 2% 0 2% 2%;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-weight: normal;
  font-size: 24px;
}

.filesPathPartsWrapper {
  @include scroll(0.5vw);
  display: flex;
  align-items: center;
  padding: 0 2% 0.5% 2%;
  overflow-x: auto;
  cursor: pointer;
}

.directoryItemsHeader {
  display: flex;
  align-items: center;
  padding: 1.5% 2% 0.5% 2%;
}

.directoryItemsHeaderText {
  width: 20%;
  margin: 0;
  font-family: "TTNormsPro", "sans-serif";
  font-size: 20px;
}