@import "../../colors";

.directoryItem {
  display: flex;
  position: relative;
  width: 96%;
  //height: 2.5vh;
  margin-bottom: 0.92vh;
  padding: 0 2%;
  cursor: pointer;
}

.directoryItem:first-child {
  margin-top: 0.92vh;
}

.selectedDirectoryItem {
  composes: directoryItem;
  background-color: $select_color;
}

.directoryItem:after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 2%;
  width: 96%;
  height: 0.3vh;
  opacity: 0;
  background-color: $border_color;
  transition: opacity 200ms ease-out;
}

.directoryItem:hover:after {
  opacity: 1;
}

.directoryItemText {
  width: 20%;
  margin: 0;
  font-family: "TTNormsPro", "sans-serif";
  font-size: 20px;
}