.customersHeading {
  composes: customersHeading from "./style-media.module.scss";
  display: flex;
  align-items: flex-end;
  margin: 2.7vh 0 0 2%;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-weight: normal;
}