@import "../../colors";

.header {
  display: flex;
  align-items: center;
  width: 97%;
  height: 7.4%;
  padding: 0 1.5%;
  background-color: $first_color;
}

.headerLogo {
  width: auto;
  height: 62.5%;
}